{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "passPerPreset": true,
      "presets": [
        {
          "plugins": ["transform-runtime"]
        },
        {
          "passPerPreset": false,
          "presets": ["env", "stage-2"]
        }
      ]
    },
    "integration_testing": {
      "plugins": [ "istanbul" ]
    }
  }
}
