alembic==1.4.2
alembic-autogenerate-enums==0.0.2
argon2-cffi==20.1.0
boto3==1.14.23
botocore==1.17.23
celery==4.4.6
colorama==0.4.3
coolname==1.1.0
coverage<5.0.0
cryptography==2.9.2
defusedxml==0.6.0
fastpbkdf2==0.2
flake8==3.8.3
Flask==1.1.2
Flask-Admin==1.5.6
flask-expects-json==1.4.0
Flask-JWT-Extended==3.24.1
Flask-Limiter==1.3.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
freezegun==0.3.15
furl==2.1.0
git+http://github.com/CodeGra-de/python3-lxc.git
git+https://github.com/CodeGra-de/pylti1.3.git
git+https://github.com/i-kiwamu/python3-oauth2.git
git+https://github.com/libre-man/HTTPdomain#subdirectory=httpdomain
git+https://github.com/libre-man/sphinx-autodoc-typehints
git+https://github.com/libre-man/sphinx_fontawesome
html2text==2020.1.16
humanfriendly==8.2
isort==4.3.21
itsdangerous==1.1.0
jwcrypto==0.7
mistune==0.8.4
mypy==0.782
mypy-extensions==0.4.3
passlib==1.7.2
psutil==5.7.2
psycopg2-binary==2.8.5
PyJWT==1.7.1
pylint==2.5.3
pylzma==0.5.0
pytest==5.4.3
pytest-cov==2.10.0
pytest-describe==0.12.0
pytest-xdist==1.33.0
python3-saml==1.9.0
python-dateutil==2.8.1
redis==3.5.3
regex==2020.7.14
sentry-sdk[flask]==0.16.1
six==1.15.0
Sphinx==3.1.2
sphinx-rtd-theme==0.5.0
SQLAlchemy==1.3.18
sqlalchemy-citext==1.7.0
SQLAlchemy-Utils==0.36.8
structlog==20.1.0
transip==2.1.2
typing-extensions==3.7.4.2
validate-email==1.3
Werkzeug==1.0.1
yapf==0.26.0
zxcvbn==4.4.28
