alembic==1.4.2
alembic-autogenerate-enums==0.0.2
argon2-cffi==19.2.0
boto3==1.12.31
botocore==1.15.21
celery==4.4.1
colorama==0.4.3
coolname==1.1.0
coverage<5.0.0
cryptography==2.8
defusedxml==0.6.0
fastpbkdf2==0.2
flake8==3.7.9
Flask==1.1.1
Flask-Admin==1.5.5
flask-expects-json==1.4.0
Flask-JWT-Extended==3.24.1
Flask-Limiter==1.2.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
freezegun==0.3.15
git+http://github.com/CodeGra-de/python3-lxc.git
git+https://github.com/i-kiwamu/python3-oauth2.git
git+https://github.com/libre-man/HTTPdomain#subdirectory=httpdomain
git+https://github.com/libre-man/sphinx-autodoc-typehints
git+https://github.com/libre-man/sphinx_fontawesome
html2text==2020.1.16
humanfriendly==8.1
isort==4.3.21
itsdangerous==1.1.0
mistune==0.8.4
mypy==0.770
mypy-extensions==0.4.3
passlib==1.7.2
psutil==5.7.0
psycopg2-binary==2.8.4
PyJWT==1.7.1
pylint==2.4.4
pylzma==0.5.0
pytest==5.4.1
pytest-cov==2.8.1
pytest-describe==0.12.0
pytest-xdist==1.31.0
python-dateutil==2.8.1
regex==2020.2.20
six==1.14.0
Sphinx==2.4.4
sphinx-rtd-theme==0.4.3
SQLAlchemy==1.3.15
SQLAlchemy-Utils==0.36.2
structlog==20.1.0
transip==2.1.1
typing-extensions==3.7.4.1
validate-email==1.3
Werkzeug==1.0.0
yapf==0.26.0
zxcvbn==4.4.28
