alembic==1.0.11
alembic-autogenerate-enums==0.0.2
argon2-cffi==19.1.0
boto3==1.9.210
botocore==1.12.210
celery==4.3.0
colorama==0.4.1
coolname==1.1.0
coverage==4.5.4
cryptography==2.7
dataclasses==0.6
defusedxml==0.6.0
fastpbkdf2==0.2
flake8==3.7.8
Flask==1.1.1
Flask-Admin==1.5.3
flask-expects-json==1.3.1
Flask-JWT-Extended==3.21.0
Flask-Limiter==1.0.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
freezegun==0.3.12
git+http://github.com/CodeGra-de/python3-lxc.git
git+https://github.com/i-kiwamu/python3-oauth2.git
git+https://github.com/libre-man/HTTPdomain#subdirectory=httpdomain
git+https://github.com/libre-man/sphinx-autodoc-typehints
git+https://github.com/libre-man/sphinx_fontawesome
html2text==2019.8.11
humanfriendly==4.18
isort==4.3.10
itsdangerous==1.1.0
mistune==0.8.4
mypy==0.761
mypy-extensions==0.4.3
passlib==1.7.1
psutil==5.6.3
psycopg2-binary==2.8.4
PyJWT==1.7.1
pylint==2.4.4
pylzma==0.5.0
pytest==5.1.0
pytest-cov==2.7.1
pytest-describe==0.12.0
pytest-xdist==1.29.0
python-dateutil==2.8.0
regex==2019.06.08
six==1.12.0
Sphinx==1.8.4
sphinx-rtd-theme==0.4.3
SQLAlchemy==1.3.7
SQLAlchemy-Utils==0.34.1
structlog==19.1.0
transip==2.0.0
typing-extensions==3.7.4
validate-email==1.3
Werkzeug==0.15.5
yapf==0.26.0
zxcvbn==4.4.28
