{% extends "layout/sidebar.j2" %}
{% block content %}
<h1>Jobs</h1>
<table class="table">
    <thead>
        <th>ID</th>
        <th>Instance</th>
        <th>Wanted runners</th>
        <th>Amount of of runners</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>State</th>
        <th>Remote id</th>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.id }}</td>
            <td>{{ job.cg_url }}</td>
            <td>{{ job.wanted_runners }}</td>
            <td>{{ job.runners | length }}</td>
            <td>{{ job.created_at }}</td>
            <td>{{ job.updated_at }}</td>
            <td>{{ job.state.name }}</td>
            <td>{{ job.remote_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
