{% extends "layout/sidebar.j2" %}
{% import "macros/jobs_table.j2" as macros %}
{% block content %}
<h1>Jobs</h1>
<h4>Active</h4>
{% if active_jobs %}
{{ macros.jobs_table(active_jobs) }}
{% else %}
<p>No active jobs</p>
{% endif %}
<h4>Finished</h4>
{{ macros.jobs_table(finished_jobs) }}
{% endblock %}
