{% extends "layout/default.j2" %}
{% block content %}
<div class="row h-100 justify-content-center align-items-center">
    <form url="{{ url_for('.login') }}"
          method="post"
          class="form-inline">
        <input name="_csrf_token" type="hidden"
               value="{{ csrf_token() }}">
        <div class="form-group mr-2">
            <input id="admin-password" type="password"
                   placeholder="Password"
                   name="password"
                   class="form-control"
                   required=""/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
