{% extends "layout/sidebar.j2" %}
{% import "macros/runners_table.j2" as macros %}
{% block content %}
<h1>Runners</h1>
<form action="{{ url_for('.create_runner') }}"
      method="post" class="col-12 input-group mb-3">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input name="amount" type="number" class="form-control"
        placeholder="Amount of runners (default: 1)"/>
    <button type="submit" class="btn btn-primary rounded-0">
        Create new runner
    </button>
</form>
<h4>Active</h4>
{% if active_runners %}
{{ macros.runners_table(active_runners) }}
{% else %}
<p>No active runners</p>
{% endif %}

<h4>Finished</h4>
{{ macros.runners_table(finished_runners) }}
{% endblock %}
