{% extends "layout/sidebar.j2" %}
{% block content %}
<h1>Runners</h1>
<table class="table">
    <thead>
        <th>ID</th>
        <th>Job</th>
        <th>Ip address</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>State</th>
        <th>Instance id</th>
        <th>Type</th>
        <th>Stop Runner</th>
    </thead>
    <tbody>
        {% for runner in runners %}
        <tr>
            <td>{{ runner.id }}</td>
            <td>{{ runner.job_id }}</td>
            <td>{{ runner.ipaddr }}</td>
            <td>{{ runner.created_at }}</td>
            <td>{{ runner.updated_at }}</td>
            <td>{{ runner.state.name }}</td>
            <td>{{ runner.instance_id }}</td>
            <td>{{ runner.__class__.__name__ }}</td>
            <td>
                <form action="{{ url_for('.stop_runner', runner_hex_id=runner.id.hex) }}"
                      method="post">
                    <input name="_csrf_token" type="hidden"
                           value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary"
                            {% if not runner.should_clean %}disabled="true"{% endif %}
                            >
                        Stop
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="{{ url_for('.create_runner') }}"
      method="post">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <button type="submit" class="btn btn-primary col-12">
        Create new runner
    </button>
</form>
{% endblock %}
