{% extends "layout/sidebar.j2" %}
{% block content %}
<table class="table">
    <thead class="table">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
    {% for (setting, value) in all_settings %}
    <tr>
    <form action="{{ url_for('.update_setting') }}"
          method="post" class="col-12 input-group mb-3">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
        <input name="setting" type="hidden" value="{{ setting.name }}" />
        <td> {{ setting.name.replace('_', ' ').capitalize() }}</td>
        <td>
            <input name="value"
                   type="{{ setting.value.input_type }}"
                   value="{{ value }}" />
        </td>
        <td>
            <button type="submit" class="btn btn-primary rounded">
                Update value
            </button>
        </td>
    </form>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
