{% macro jobs_table(jobs, show_result_dates) %}
<table class="table">
    <thead>
        <th>ID</th>
        <th>Instance</th>
        <th>Runners (wanted - got)</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>State</th>
        <th>Course - Assig</th>
        {% if show_result_dates %}
        <th>Latest results</th>
        {% endif %}
        <th>Type</th>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            {% if not job.state.is_finished %}
                {% if job.state.is_waiting_for_runner and job.created_at | age > 10 %}
                    <td style="background-color: red">
                {% elif job.state.is_waiting_for_runner and job.created_at | age > 3 %}
                    <td style="background-color: orange">
                {% elif job.created_at | age < 10 %}
                    <td style="background-color: lime">
                {% elif job.created_at | age > 60 %}
                    <td style="background-color: yellow">
                {% else %}
                    <td style="background-color: rgba(0, 255, 0, 0.25)">
                {% endif %}
            {% else %}
                <td>
            {% endif %}
            {{ job.id }}
            </td>
            {% if job.job_metadata and job.job_metadata.get('course') and job.job_metadata.get('assignment') %}
            <td>
                <a href="{{ job.cg_url }}/courses/{{ job.job_metadata['course']['id'] }}/assignments/{{ job.job_metadata['assignment']['id'] }}/submissions/?sortBy=formatted_created_at&sortAsc=false"
                   target="_blank">
                    {{ job.cg_url }}
                </a>
            </td>
            {% else %}
            <td>{{ job.cg_url }}</td>
            {% endif %}
            <td>{{ job.wanted_runners }} - {{ job.runners | length }}</td>
            <td>{{ job.created_at | datetime }} <b>({{ job.created_at | age(True) }})</b></td>
            <td>{{ job.updated_at | datetime }} <b>({{ job.updated_at | age(True) }})</b></td>
            <td>{{ job.state.name }}</td>
            <td>
            {{ job.job_metadata.get('course',{}).get('name', '?') }} -
            {{ job.job_metadata.get('assignment',{}).get('name', '?') }}
            </td>
            {% if show_result_dates %}
            <td>
                {% set not_started = job.job_metadata | nested_get(None, 'results', 'not_started') %}
                {% set running = job.job_metadata | nested_get(None, 'results', 'running') %}
                {% set passed = job.job_metadata | nested_get(None, 'results', 'passed') %}

                NS: {{ (not_started | age(True)) if not_started else '-' }}<br>
                R: {{ (running | age(True)) if running else '-' }}<br>
                P: {{ (passed | age(True)) if passed else '-' }}
            </td>
            {% endif %}
            <td>{{ job.job_metadata.get('type', '') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
