{% macro runners_table(runners) %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Job</th>
            <th>Ip address</th>
            <th>Age</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>State</th>
            <th>Instance id</th>
            <th>Type</th>
            <th>Stop Runner</th>
        </tr>
    </thead>
    <tbody>
        {% for runner in runners %}
        <tr>
            <td>{{ runner.id }}</td>
            <td>{{ runner.job_id }}</td>
            <td>{{ runner.ipaddr }}</td>
            <td>{{ runner.created_at | age | round | int }}</td>
            <td>{{ runner.created_at | datetime }}</td>
            <td>{{ runner.updated_at | datetime }}</td>
            <td>{{ runner.state.name }}</td>
            <td>{{ runner.instance_id }}</td>
            <td>{{ runner.__class__.__name__ }}</td>
            <td>
                <div class="btn-group">
                <form action="{{ url_for('.stop_runner', runner_hex_id=runner.id.hex) }}"
                      method="post"
                      class="mr-3">
                    <input name="_csrf_token" type="hidden"
                           value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary"
                            {% if not runner.should_clean %}disabled="true"{% endif %}
                            >
                        Kill
                    </button>
                </form>
                <form action="{{ url_for('.stop_runner', runner_hex_id=runner.id.hex) }}?shutdown=true"
                      method="post">
                    <input name="_csrf_token" type="hidden"
                           value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary"
                            {% if not runner.should_clean %}disabled="true"{% endif %}
                            >
                        Shutdown
                    </button>
                </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
