{% extends "layout/default.j2" %}

{% block main %}
<div class="container-fluid" style="flex: 1 1 auto;">
    <div class="row" style="min-height: 100%;">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar"
             style="font-weight: 500;">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('.show_all_runners') }}"
                           style="color: #333">
                            {% if url_for(request.endpoint) == url_for('.show_all_runners') %}
                            <u>Runners</u>
                            {% else %}
                            Runners
                            {% endif %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('.show_all_jobs') }}"
                           style="color: #333">
                            {% if url_for(request.endpoint) == url_for('.show_all_jobs') %}
                            <u>Jobs</u>
                            {% else %}
                            Jobs
                            {% endif %}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('.show_settings') }}"
                           style="color: #333">
                            {% if url_for(request.endpoint) == url_for('.show_settings') %}
                            <u>Settings</u>
                            {% else %}
                            Settings
                            {% endif %}
                        </a>
                    </li>

                    <li class="nav-item mt-3">
                        <b>Legenda</b>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Job color</th>
                                    <th>Meaning</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="background: lime; width: 1rem; height: 1rem;" />
                                    </td>
                                    <td>
                                        New, A-OK!
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="background: rgba(0, 255, 0, 0.25); width: 1rem; height: 1rem;" />
                                    </td>
                                    <td>
                                        A-OK!
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="background: yellow; width: 1rem; height: 1rem;" />
                                    </td>
                                    <td>
                                        Old and still running
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="background: orange; width: 1rem; height: 1rem;" />
                                    </td>
                                    <td>
                                        Waiting a bit long
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="background: red; width: 1rem; height: 1rem;" />
                                    </td>
                                    <td>
                                        Old, and no runner
                                        <br>
                                        PROBLEM!
                                        <br>
                                        CALL TECH!
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>State</th>
                                    <th>Meaning</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>not_running</td>
                                <td>Creating at Amazon</td>
                            </tr>
                            <tr>
                                <td>creating</td>
                                <td>Created at amazon, but no sign of life yet</td>
                            </tr>
                            <tr>
                                <td>started</td>
                                <td>Pinged us, but no job yet</td>
                            </tr>
                            <tr>
                                <td>running</td>
                                <td>Running a job</td>
                            </tr>
                            <tr>
                                <td>cleaning</td>
                                <td>Terminating at Amazon</td>
                            </tr>
                            <tr>
                                <td>cleaned</td>
                                <td>Terminated at Amazon</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
