{% macro body_row() %}
<tr>
    <td valign="top" class="mcnTextContent" style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #202020;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">
        {{ caller() }}
    </td>
</tr>
{% endmacro %}

{%- macro normal_link(url, text) -%}
<a href="{{ url }}" target="_blank">{{ text }}</a>
{%- endmacro -%}

{%- macro footer_link(url, text) -%}
<a href="{{ url }}" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #656565;font-weight: normal;text-decoration: underline;">{{ text }}</a>
{%- endmacro -%}
