/* SPDX-License-Identifier: AGPL-3.0-only */
@color-secondary: #2980b9;
@color-secondary-darker: darken(@color-secondary, 7.5%);
@color-secondary-darkest: darken(@color-secondary, 15%);

@color-primary: #2c3e50;
@color-primary-darker: darken(@color-primary, 7.5%);
@color-primary-darkest: darken(@color-primary-darker, 3%);

@color-secondary-text-lighter: #858b8e;
@color-secondary-text: #464a4c;

@color-light-gray: lighten(gray, 20%);
@color-lighter-gray: rgb(233, 236, 239);
@color-lightest-gray: lighten(@color-lighter-gray, 5%);

@linum-bg: #f8f8f8;
@line-bg: white;

@line-spacing: 0.5em;
@code-linum-width: 4rem;

@alert-danger-color: #a94442;

@text-color: #292b2c;
@text-color-dark: #d2d4d5;
@text-color-muted: #6c757d;

@background-color: #fff;
@footer-color: #f5f5f5;

@color-danger: #dc3545;
@color-danger-dark: lighten(#d9534f, 10%);
@color-danger-table-row: #f5c6cb;

@color-diff-added-light: #ddffdd;
@color-diff-added-dark: lighten(#448f65, 10%);
@color-diff-removed-light: #ffdddd;
@color-diff-removed-dark: @color-danger-dark;

@color-border-gray-lighter: lighten(#989898, 25%);
@color-border-gray: #989898;
@color-border-gray-darker: darken(@color-border-gray, 35%);

@media-small: ~'only screen and (max-width: 628px)';
@media-no-small: ~'only screen and (min-width: 628px)';
@media-medium: ~'only screen and (min-width: 768px)';
@media-no-medium: ~'only screen and (max-width: 768px)';
@media-large: ~'only screen and (min-width: 992px)';
@media-no-large: ~'only screen and (max-width: 992px)';

@color-warning: #ffd65d;
@color-warning-dark: #b59320;
@color-success: #28a745;

@border-radius: 0.25rem;
@transition-duration: 300ms;

.default-footer-colors {
    background-color: @footer-color;
    color: @color-secondary-text;

    body.cg-dark-mode & {
        background-color: @color-primary-darker;
        color: @color-secondary-text-lighter;
    }
}

.default-alter-danger-colors {
    body.cg-dark-mode & {
        background-color: @alert-danger-color;
        border-color: @alert-danger-color;
        color: darken(@alert-danger-color, 30%);
    }
}

.default-text-colors {
    body.cg-dark-mode & {
        color: @text-color-dark;
    }
    color: @text-color;
}

.default-secondary-text-colors {
    body.cg-dark-mode & {
        color: @color-secondary-text-lighter;
    }
    color: @color-secondary-text;
}

.default-link-colors {
    &:not(.inline-link):not(.btn) {
        color: @color-primary;

        &:hover {
            color: lighten(@color-primary, 10%);
        }
    }

    body.cg-dark-mode &:not(.inline-link):not(.btn) {
        color: lighten(@color-primary, 30%);

        &:hover {
            color: lighten(@color-primary, 40%);
        }
    }
}

.default-background {
    background-color: #fff;

    body.cg-dark-mode & {
        background-color: @color-primary;
    }
}

.default-color {
    color: @text-color;

    body.cg-dark-mode & {
        color: @text-color-dark;
    }
}

.primary-outline-button-color {
    color: @color-primary;
    border-color: @color-primary;

    &:hover:not(:disabled):not(.disabled),
    &:active:not(:disabled):not(.disabled) {
        background-color: saturate(lighten(@color-primary, 7.5%), 10%);
        border-color: saturate(lighten(@color-primary, 7.5%), 10%);
    }

    &:disabled,
    &.disabled {
        border-color: @color-primary;
        color: @color-primary;
    }

    body.cg-dark-mode & {
        color: @text-color-dark;
        border-color: @color-primary-darker;

        &:hover {
            background-color: @color-primary-darker;
            color: @text-color-dark;
        }
    }
}

.primary-button-color {
    background-color: @color-primary;
    border-color: @color-primary;

    &:hover,
    &:active:not(:disabled):not(.disabled),
    &:focus {
        background-color: saturate(lighten(@color-primary, 7.5%), 10%);
        border-color: saturate(lighten(@color-primary, 7.5%), 10%);
    }

    &[disabled] {
        background-color: fade(@color-primary, 80);
        border-color: fade(@color-primary, 60);
    }

    body.cg-dark-mode & {
        background-color: @color-primary-darker;
        border-color: @color-primary-darker;

        &:hover,
        &:active,
        &:focus {
            background-color: saturate(@color-primary-darkest, 10%);
            border-color: saturate(@color-primary-darkest, 10%);
        }

        &[disabled] {
            background-color: fade(@color-primary-darker, 80);
            border-color: fade(@color-primary-darker, 60);
        }
    }
}

.secondary-button-color {
    &:not(.btn-success):not(.btn-danger):not(.btn-warning):not(.btn-info) {
        &,
        &.disabled {
            background-color: @background-color;
            &:hover:not(:disabled) {
                background-color: darken(@background-color, 10%);
            }
            color: @text-color;
            border-color: #ccc;

            body.cg-dark-mode & {
                background-color: @color-primary;
                border-color: @color-primary-darker;
                &:hover:not(:disabled) {
                    background-color: @color-primary-darker;
                }
                color: @text-color-dark;
            }
        }
    }
}

.default-custom-control-input-colors {
    body:not(.cg-dark-mode) & {
        &:active ~ .custom-control-indicator {
            background-color: fade(@color-primary, 60);
        }

        &:focus ~ .custom-control-indicator {
            box-shadow: 0 0 0 1px white, 0 0 0 3px @color-primary;
        }

        &:checked ~ .custom-control-indicator {
            background-color: @color-primary;
        }

        &:disabled ~ .custom-control-indicator {
            background-color: @color-secondary-text-lighter !important;
        }
    }

    body.cg-dark-mode & {
        & ~ .custom-control-indicator {
            background-color: @color-primary;
            border: 1px solid @color-secondary-text-lighter;
        }

        &:disabled ~ .custom-control-indicator {
            background-color: @color-secondary-text-lighter !important;
        }

        &:active ~ .custom-control-indicator {
            background-color: fade(@color-primary-darker, 60);
        }

        &:focus ~ .custom-control-indicator {
            box-shadow: 0 0 0 1px @color-primary, 0 0 0 3px white;
        }

        &:checked ~ .custom-control-indicator {
            color: @color-primary;
            background-color: @text-color-dark;
        }
    }
}

.default-card-colors {
    body.cg-dark-mode & {
        background-color: @color-primary;
        border-color: @color-primary-darker;

        :not(.tabs) > .card-header,
        > .card-header {
            background-color: @color-primary-darker;
            border-color: @color-primary-darker;
            color: @text-color-dark;
        }
    }
}

.tab-colors {
    li.nav-item {
        &:focus,
        & .nav-link:focus {
            outline-color: transparent !important;
        }

        > .nav-link.disabled {
            cursor: not-allowed;
            color: @text-color-muted !important;

            &:hover {
                color: @text-color-muted !important;
            }
        }
    }

    body.cg-dark-mode & {
        border-color: @color-primary-darker;

        li.nav-item > .nav-link {
            color: @text-color-dark;

            &.active {
                background-color: @color-primary;
                border-color: @color-primary-darker;
            }

            &:hover:not(.disabled) {
                border-color: @color-primary-darker;
            }
        }
    }
}

.dark-popover-colors {
    background-color: @color-primary;
    box-shadow: 1px 1px 6px @color-primary-darker;

    .popover-body {
        color: @text-color-dark;
    }

    .popover-header {
        background-color: @color-primary-darkest;
        border-bottom-color: @color-primary-darkest;
        color: @color-secondary-text-lighter;
    }

    &.bs-popover-right .arrow::after {
        border-right-color: @color-primary;
    }

    &.bs-popover-left .arrow::after {
        border-left-color: @color-primary;
    }

    &.bs-popover-top .arrow::after {
        border-top-color: @color-primary;
    }

    &.bs-popover-auto .arrow::after,
    &.bs-popover-bottom .arrow::after {
        border-bottom-color: @color-primary;
    }

    .arrow {
        backbround: @color-primary;
    }

    input,
    textarea {
        .dark-input-colors;
    }
}

.dark-table-colors {
    background-color: @color-primary;
    color: @text-color-dark;

    tbody + tbody {
        border-color: @color-primary-darker;
    }

    tr.table-info,
    tr.table-success,
    tr.table-warning,
    tr.table-danger {
        color: @color-primary-darkest;
    }

    tr.table-danger > td {
        background-color: @color-danger-dark;
    }

    th {
        border-bottom-color: @color-primary-darker;
        border-top-color: @color-primary-darker;
    }

    td {
        border-top-color: @color-primary-darker;
    }
}

.default-table-colors {
    tr:first-child td {
        border-top: 0;
    }

    body.cg-dark-mode & {
        .dark-table-colors;
    }
}

.default-collapse-wrapper-colors,
.default-form-control-colors,
.default-list-group-item-colors {
    body.cg-dark-mode &:not(.list-group-item-info) {
        background-color: @color-primary;
        border-color: @color-primary-darker;
        color: @text-color-dark;
    }
}

.default-form-control-colors {
    body:not(.cg-dark-mode) #main-content &:focus {
        box-shadow: inset 0 0 0.2em 0 #ced4da;
        border-color: #ced4da;
    }

    body.cg-dark-mode &:focus {
        box-shadow: inset 0 0 0.2em 0 @color-primary-darkest;
        border-color: @color-primary-darkest;
    }

    body.cg-dark-mode .has-danger & {
        border-color: #d9534f;
    }
}

.dark-input-colors {
    background-color: @color-primary;
    border-color: @color-primary-darker;
    color: @text-color-dark !important;

    &::placeholder,
    &:disabled {
        color: @color-secondary-text-lighter !important;
    }
}

.default-input-colors {
    body.cg-dark-mode & {
        .dark-input-colors;
    }
}

.default-button-group-colors {
    body & .btn:focus {
        box-shadow: none;
    }
}

.default-checkbox-and-radio-colors {
    &:not(.cg-dark-mode) {
        .custom-checkbox,
        .custom-radio {
            .custom-control-label {
                cursor: pointer;
            }

            .custom-control-input:disabled ~ .custom-control-label,
            .custom-control-input:disabled ~ .custom-control-label {
                opacity: 0.65;
                cursor: not-allowed;
            }

            .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
                background-color: fade(@color-primary, 30%);
            }

            .custom-control-input:focus ~ .custom-control-label::before {
                box-shadow: 0 0 0 0.2rem fade(@color-primary, 20%);
            }

            .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
                border-color: @color-primary;
            }

            .custom-control-input:checked ~ .custom-control-label {
                &::before {
                    background-color: @color-primary-darker;
                    border-color: @color-primary-darker;
                    color: @color-primary-darker;
                }
                &::after {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
                }
            }
        }
    }

    &.cg-dark-mode {
        .custom-control-input:not(:checked) ~ .custom-control-label::before {
            background-color: transparent;
            border: 1px solid @color-secondary-text-lighter;
        }

        .table-info,
        .table-success,
        .table-warning,
        .table-danger {
            .custom-control-input:not(:checked) ~ .custom-control-label::before {
                border-color: @color-primary;
            }
        }

        .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
            background-color: fade(@text-color-dark, 30%);
        }

        .custom-control-input:focus ~ .custom-control-label::before {
            box-shadow: 0 0 0 0.2rem fade(@text-color-dark, 20%);
        }

        .custom-control-input:checked ~ .custom-control-label {
            &::before {
                background-color: @text-color-dark;
                border-color: @text-color-dark;
                color: @color-primary-darker;
            }

            &::after {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%232c3e50' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
            }
        }

        .custom-control-input:disabled:checked ~ .custom-control-label::before {
            background-color: @text-color-dark;
        }
    }
}

.dark-input-group-colors {
    .input-group-addon,
    .input-group-text {
        background-color: @color-primary-darker;
        color: @color-secondary-text-lighter;
        border-color: @color-primary-darkest;
    }

    .btn-info {
        color: @text-color-dark;
    }

    .input-group-btn
        .btn-secondary:not(.btn-success):not(.btn-danger):not(.btn-warning):not(.btn-info) {
        background-color: @color-primary-darker;
        color: @text-color-dark;
        &:hover:not(:disabled) {
            background-color: @color-primary-darkest;
        }
        border-color: transparent;
    }
}

.default-input-group-colors {
    & .btn-info {
        background-color: @color-secondary;
        border-color: @color-secondary;
        color: white;
        &:hover:not(.btn-outline-info) {
            background-color: darken(@color-secondary, 10%);
            border-color: darken(@color-secondary, 10%);
        }
        &.btn-outline-info:not(:hover) {
            background-color: transparent;
            color: @color-secondary !important;
        }
    }

    body.cg-dark-mode & {
        .dark-input-group-colors;
    }
}

.default-dropdown-menu-colors {
    body.cg-dark-mode & {
        background-color: @color-primary;
        .dropdown-item {
            color: @text-color-dark !important;
            border-color: @color-primary-darker;
            outline: none !important;
            &:hover,
            &:focus {
                background-color: @color-primary-darker;
            }
        }

        .dropdown-divider {
            border-top-color: @color-primary-darker;
        }

        .dropdown-header {
            color: @color-secondary-text-lighter;
        }
    }

    .dropdown-item:active {
        background-color: darken(@background-color, 10%);
    }
}

.default-modal-colors {
    .modal-content {
        .default-text-colors;

        a {
            .default-link-colors;
        }

        button.close {
            .default-text-colors;
            opacity: 0.7;
            text-shadow: none;
            &:hover {
                opacity: 1;
            }
        }

        body.cg-dark-mode & {
            background-color: @color-primary;
            color: @text-color-dark;

            .modal-body,
            .modal-footer,
            .modal-header {
                border-color: @color-primary-darker;
                background-color: @color-primary;
            }
        }
    }
}

.dark-multiselect-colors {
    body.cg-dark-mode & {
        .multiselect__tags {
            background-color: @color-primary;
            border-color: @color-primary-darker;

            input {
                background-color: @color-primary;
                color: @text-color-dark;
            }

            .multiselect__spinner {
                background-color: @color-primary;
            }
        }

        .multiselect__content-wrapper {
            background: @color-primary;
            border-color: @color-primary-darker;
            color: @text-color-dark;
        }

        .multiselect__option--highlight {
            background: @color-primary-darker;

            &::after {
                background: @color-primary-darker;
            }
        }

        .multiselect__option--selected {
            color: white;
            background: @color-primary-darkest;

            &::after {
                background: @color-primary-darkest;
            }
        }
    }
}
